/* --- RESET --- */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* --- COMMON --- */

.list-style{
    list-style-type: none;
}

li{
    margin: 25px 0;
}

.container-big{
    width: 1200px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

.container-small{
    width: 1000px;
    margin: auto;
    padding-top: 150px;
}

.row{
    display: flex;
    justify-content: space-between;
}

.wrap{
    display: flex;
    flex-wrap: wrap;
}

p{
    margin-bottom: 30px;
} 

hr{
    color: #d0d0d3;
    width: 20%;
}

/* --- BUTTON --- */

button{
    border: none;
    padding: 5px 7.5px;
}

.btn-primary{
    background-color: #0061ff;
    color: #fff;
}

.btn-secondary{
    background-color: #fff;
    color: #000;
    border: 1px solid #000;
}

.hero-btn{
    margin-bottom: 30px;
}

.button > button{
    width: 100%;
}

.button{
    width: 100%;
}

.col-4 > .btn-primary{
    width: 100%;
    padding: 10px 0;
}

/* --- TYPO --- */

body{
    font-family: 'Open Sans', sans-serif;
}

h1{
    font-size: 75px;
    width: 100%;
    padding-top: 100px;
}

h2{
    font-size: 40px;
}

h3{
    font-size: 30px;
}

.arrow-down{
    position: absolute;
    top: 330px;
    font-size: 40px;
}

.fa-check{
    color: #0061ff;
}

/* --- HEADER --- */

nav{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    background-color: #fff;
}

.nav-left, .nav-right{
    display: flex;
    align-items: center;
    width: 50%;
    padding: 20px 15px;
}

.nav-left{
    text-align: left;
}

.nav-right{
    justify-content: right;
}

.link{
    text-decoration: none;
    color: #000;
}

.nav-li{
    display: inline;
    padding: 0 20px;
}

/* --- MAIN --- */

/* Sezione 1 */

.hero{
    margin-top: 100px;
    background-color: #b4d0e7;
}

.col-hero-left, .col-hero-right{
    position: relative;
    top: 80px;
}

.col-hero-left{
    width: 30%;
    padding-right: 50px;
}

.col-hero-right{
    width: 70%;
}

.img-hero{
    width: 100%;
}
/* /Sezione 1 */

/* Sezione 2 */

.input-button{
    display: inline-block;
    margin:  55px 50px 50px 0;
}

.col{
    width: 30%;
    border: 1px solid #d0d0d3;
}

.col-w30{
    width: 30%;
    padding: 25px 0;
}

.col-w30 > img{
    width: 100%;
}

.col-2{
    width: 100%;
    border: 1px solid #d0d0d3;
    margin-top: 50px;
}

.col-3{
    width: 70%;
}

.col-3 > img{
    width: 100%;
    padding: 0 50px 0 0;
}

.col-3 > h3, .col-3 > h4, .col-3 > p{
    padding: 15px 20px;
}

.col-4{
    width: 30%;
    text-align: center;
    padding: 30px;
}

.col-5{
    width: 30%;
    padding: 50px 0;
}

.col-5 > h3, .col-5 > p{
    padding: 15px 0;
}

.top{
    text-align: center;
    border-bottom: 1px solid #d0d0d3;
    padding: 5px 0;
}

.col-main{
    width: 80%;
    margin: auto;
}

.col-main > div{
    padding: 20px 0;
}

/* /Sezione 2 */

/* Sezione 3 */

/* /Sezione 3 */

/* --- FOOTER --- */
