/* --- RESET --- */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* --- COMMON --- */
.list-style{
    list-style-type: none;
}

.container-big{
    width: 1200px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

.container-small{
    width: 1000px;
    margin: auto;
}

.row{
    display: flex;
}

p{
    margin-bottom: 30px;
}

/* --- BUTTON --- */

.btn-primary{
    background-color: #0061ff;
    color: #fff;
    border: none;
    padding: 5px 7.5px;
}


.hero-btn{
    margin-bottom: 30px;
}
/* --- TYPO --- */
body{
    font-family: 'Open Sans', sans-serif;
}

h1{
    font-size: 75px;
    width: 100%;
    padding-top: 100px;
}

.arrow-down{
    position: absolute;
    top: 330px;
    font-size: 40px;
}

/* --- HEADER --- */

nav{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    background-color: #fff;
}

.nav-left, .nav-right{
    display: flex;
    align-items: center;
    width: 50%;
    padding: 20px 15px;
}

.nav-left{
    text-align: left;
}
.nav-right{
    justify-content: right;
}

a{
    text-decoration: none;
    color: #000;
}

li{
    display: inline;
    padding: 0 20px;
}
/* --- MAIN --- */

/* Sezione 1 */
.hero{
    margin-top: 100px;
    background-color: #b4d0e7;
}

.col-hero-left, .col-hero-right{
    position: relative;
    top: 80px;
}

.col-hero-left{
    width: 30%;
    padding-right: 100px;
}

.col-hero-right{
    width: 70%;
}

.img-hero{
    width: 100%;
}
/* /Sezione 1 */

/* --- FOOTER --- */